/* Just some base styles not needed for example to function */
*, html { font-family:"TH SarabunPSK"; }
/*
body, form, ul, li, p, h1, h2, h3, h4, h5
{   
margin: 0;
padding: 0;
}
body { color: #000000; margin: 0; }
img { border: none; }
p
{
font-size: 1em;
margin: 0 0 1em 0;
} */

/*html { font-size: 100%; /* IE hack } */

/*table { font-size: 100%; /* IE hack  } */
/*input, select, textarea, th, td { font-size: 1em; } */
	
/* CSS Tree menu styles */
ol.tree
{
    font-family:"TH SarabunPSK";
    font-size:26px;
    font-weight:bold;
    padding: 0 0 0 12px;
    width: 270px;
    
}
li 
{ 
    position: relative; 
    margin-left: -20px;
    list-style: none;
    padding: 0 0 0 0; /*ระยะห่างระหว่าง Folderหลัก กับ Folderรอง */
}
li.file
{
    margin-left: -1px !important;
    height: 25px;
    
}
li.file a
{
    background: url(../../IMAGES/THEME/Inbox/document.png) 0 0 no-repeat;
    color: #000;
    padding-left: 21px;
    text-decoration: none;
    display: block;
    height: 2.5em;
     
}
li input
{
    position: absolute;
    left: 0;
    margin-left: 0;
    opacity: 0;
    z-index: 2;
    cursor: pointer;
    height: 2em;
    width: 1em;
    top: 0;
    
}
li input + ol
{
    background: url(../../IMAGES/THEME/inbox/toggle-small-expand.png) 
   
    40px 0 no-repeat;
    
    margin: -1.938em 0 0 -44px; /* 15px */
    height: 1.5em;
   
}
li input + ol > li
{
    display: none; margin-left: -14px !important; 

    padding-left: 1px;
    padding: 0.15em;
}
li label
{
    background: url(../../IMAGES/THEME/inbox/folder-horizontal.png) 15px 1px no-repeat;
    cursor: pointer;
    
    display: block;
    padding-left: 37px;
    height: 2em;
}

li input:checked + ol
{
    background: url(../../IMAGES/THEME/inbox/toggle-small.png) 40px 5px no-repeat;
    margin:  -1.938em 0 0 -44px; /* 20px */
    padding: 1.263em 0 0 80px;
    height: auto;
}
li input:checked + ol > li
{
    display: block; margin: 0 0 0.125em; 
/* 2px */}
li input:checked + ol > li:last-child
{
    margin: 0 0 0.063em; /* 1px 
*/ }